body{

    /* background-image: url("/images/Herocover.jpg"); */
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.buttonenclose
{
    background-color: none;
    margin-left: 1%;
    margin-top: 10%; 
    margin-bottom: 10%;
}

.mainjumbo
{
 background:rgba(255, 255,255,0.6);  
 padding:5px;
 width:80%;
 margin:auto;
 margin-bottom: 5%;
 border-radius:5px; 
}




/* For mobile phones: */
body {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  body{
    width:98%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body{
    width:75%;
    margin:auto;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  nav
  {
    background:rgba(255, 255,255,0.5);
  }
}